<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div class="header">
            <div class="container">
                <div class="logo">FOG FACTORY</div>
                <div class="form">
                    <input type="text" v-bind:value="valueInput" v-on:input="handlyInput" v-on:keypress.enter="addPosition">
                    <button class="btn" v-on:click="addPosition">Add position</button>
                    <button class="btn">Make order</button>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>
                <span>Positions</span>
                <span class="mask-num">{{PositionsList.length}}</span>
            </h2>

            <ul class="mask-list">
                <li v-for="(mask, index) in PositionsList" :key="mask.id">
                    <div>
                       <input type="checkbox" v-on:change="doCheck(index, 'notinorder')">
                       <span>{{ mask.title }}</span>
                    </div>
                    <button class="btn-remove" v-on:click="removeMask(index, 'notinorder')">Remove</button>
                </li>
            </ul>

            <h2>
                <span>Order</span>
                <span class="mask-num">{{OrdersList.length}}</span>
            </h2>

            <ul class="mask-list ">
                <li v-for="(mask, index) in OrdersList" :key="mask.id" >
                    <div>
                       <input type="checkbox" v-on:change="doCheck(index, 'inorder')" checked>
                       <span>{{ mask.title }}</span>
                    </div>
                    <button class="btn-remove" v-on:click="removeMask(index, 'inorder')">Remove</button>
                </li>
            </ul>

        </div>
    </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script src="./app.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
</body>
</html>